/* styles.css */

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
  }
  
  h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
  }
  
  textarea {
    width: 70%;
    height: 100px;
    padding: 10px;
    font-size: 18px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: vertical;
  }
  
  button {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;

  }
  
  input[type="file"] {
    margin-top: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding: 5px;
    font-size: 16px;
    color: #333;
    
  }
  
  h2 {
    font-size: 18px;
    color: #333;
    margin-top: 20px;
  }
  
  p {
    font-size: 16px;
    color: #333;
  }
  
  .toast {
    background-color: #007bff;
    color: #fff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .toast-success {
    background-color: #28a745;
  }
  
  .toast-error {
    background-color: #dc3545;
  }
  